@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #F8F9FA;
    color: #333;
}

header {
    background-color: #0073CF;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #0073CF;
}

h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.wireframe img {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 20px auto;
}

footer {
    background-color: #0073CF;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}
